extends  layout
block container
    .contenido-principal

        form.agregar-tarea(action=`/projects/${project.url}` method="POST")
            .campo
                label(for="name") Tarea:
                input.nombre-tarea(type="text" id="name" name="name" placeholder="Nombre de la tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")


        h1 #{pageName} - #{project.name}
            .contenedor-acciones
                a(href=`/projects/edit/${project.id}` class="boton") Editar
                button#delete-project(data-project-url=project.url type="button" class="boton eliminar") Eliminar

            if (tasks && typeof tasks !== 'undefined')
                if (tasks.length > 0)
                    .listado-pendientes
                        ul
                            each task in tasks
                                li.tarea(data-task=task.id)
                                    p= task.name
                                    .acciones
                                        if (task.status)
                                            i.fas.fa-check-circle.completo
                                        else
                                            i.fas.fa-check-circle
                                        i.fas.fa-trash

        //<i class="fas fa-clipboard-check"></i>

        //pre= vardump(tasks)
